.root{
    background: var(--back-main);
    width: 100%;
    padding-bottom: 80px;
}

.container{
    max-width: 1136px;
    padding: 0 15px;
    margin: 0 auto;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.row{
    padding-top: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}