.root{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    pointer-events: none;
    opacity: 0;
    transition: all .3s ease;
}

.root.active{
    pointer-events: all;
    opacity: 1;
    transition: all .3s ease;
}

.modal{
    background: var(--back-white);
    border-radius: 16px;
    /* overflow: hidden; */

    display: flex;
    position: relative;
}

.close{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: -50px;
    color: var(--color-white);
    cursor: pointer;
    opacity: 0.7;
    transition: all .2s ease;
}

.close:hover{
    opacity: 1;
    transition: all .2s ease;
}