.root{
    padding-left: 6px;

    display: flex;
    align-items: center;
    gap: 6px;
}

.card{
    margin: 8px 0;
    padding: 2px 8px;
    height: 28px;

    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--noactive-color);
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease;
}

.card.active{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 4px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(165, 165, 165, 0.4);
    color: var(--color-accent);
    transition: all .3s ease;
}

.card:hover{
    background: rgba(109, 109, 109, 0.15);
    transition: all .3s ease;
}

.icon{
    width: 20px;
    height: 20px;
}